<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Help A Paw</title>
    {% if block('og') is not empty %}
    {% block og %}{% endblock %}
    {% else %}
    <meta property="og:url" content="{{ url('app.index') }}" />
    <meta property="og:image" content="{{ absolute_url(asset('assets/images/logo.jpg')) }}" />
    <meta property="og:title" content="Да помагаме на бездомните животни заедно - Help A Paw" />
    <meta property="og:description" content="Да помагаме на бездомните животни заедно" />
    {% endif %}
    <meta property="og:type" content="website" />
    <link rel="shortcut icon" href="{{ asset('assets/images/logo.jpg') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
            integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
            crossorigin=""></script>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ asset('assets/css/custom.css') }}" rel="stylesheet">
</head>
<body>

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
        <a class="navbar-brand" href="{{path('app.index')}}"><img src="{{ asset('assets/images/logo.jpg') }}" width="50"  alt="Help A Paw"/> Help A Paw</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="{{ path('app.index') }}">Карта</a>
            </div>
        </div>
    </nav>
</div>

{% block body %}{% endblock %}

<footer class="mt-5 bg-light p-3">
    <div class="container text-center">
        <div class="d-flex justify-content-between align-items-center">
            <div><a href="http://www.helpapaw.org" target="_blank">helpapaw.org</a></div>
            <div>
                <a href="https://www.facebook.com/help.a.paw/" class="btn btn-primary btn-circle" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="https://github.com/orgs/HelpAPaw" class="btn btn-primary btn-circle" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/company/help-a-paw/" class="btn btn-primary btn-circle" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
